<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/eacbc103c6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        @*<footer>
                <p>&copy; @DateTime.Now.Year - EvenTo</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
